
.nav .navbar{
    width: auto;
}



.carousel-inner{
    width: 100%;
    height: 70%;
}
.two{
    text-align: center;
}
.header{
 margin-left: 40px;
}
.container{
       text-align: center;
       margin-top:50px ;
       display:flex;
     
    
        
}
.img-container{
    position: relative;
    width: auto;
    height: auto;
    display:inline-block ;
    padding: 20px;
    border-radius: inset;
    text-align: center;
    margin-left: 90px;
   
    
 
    
}
.img-container .box img{
    height: 200px;
    width: 200px;
    float: left;
    /* margin: 10px; */
    transition: transform 0.5s ease;    
}
 .img-container .box:hover{
    transform: rotate(10deg);
}

.box{
    background-color: #b9b7b7;
    padding: 20px;
    margin: 20px;
    border-radius: 5% !important;
    padding-bottom: 20px;
    display: inline-block;
    position: relative;
    
    
}

.three .container h3{
    border-radius: 1px solid ; 
    padding: 10px;
    margin-bottom: 0px;
    background-color: rgb(14, 14, 173);
    color: white;
    border-radius: 1px solid ;
   
}
.three .container .row{
 
   cursor: pointer;
   padding: 20px;
   margin: 20px;
   /* border-radius: 5% !important; */
   align-items:center;
   text-align: center;
   margin-left: 20px;
   margin-top: 30px !important;
   box-shadow: 0 0 8px rgb(4, 53, 145);
   width: 400px;


}
 .row .card h3{
    width: 250px;
}
.three .container .row:hover{
    transform:scaleX(0.9)
}
.foure h1{
    text-align: center;
    margin: 50px;
}
 .three .container h1{
    text-align: center;

}
.row h3
{
    font-size:small;
}


.shap{
    display: inline-flex;
    justify-content: space-between;
    height: 100px;
    width: 100px;
    margin: 70px;
    margin-left:300px;
   text-align: center;

}
.shap h2{
    text-align: center;
   

}
.carousel-item{
    height: 300px;
    width: 1200px;
    background-color: #969090;
    margin-left: 40px;
}


.flex-container{
    display: inline-flex;
    margin:50px;
}

.row{
    text-align: center;
    border-radius: 1px solid #fff;
    /* margin: 50px; */
    padding: 20px;
    position: relative;
    display: inline-block;
    /* background-color: rgb(223, 217, 217); */
    height:250px;
    width: 300px;
    display: inline-block;
    flex-basis: 100px;

    }
    
    h1{
        text-align: center;
        padding-top: 50px;
    }

    .card-body{
        height: 250px;
        width: 250px;
    }
    .text-center{
        text-align: center;
        border-radius: 5% solid #fff;
        margin: 50px;
        padding: 20px;
        position: relative;
        display: inline-block;
        height:250px;
        width: 300px;
        display: inline-block;
        flex-basis: 100px;
    }
    .card-title{
        background-color: rgb(39, 39, 224);
       
    }
    .card-x{
        height: 250px;
        width: 250px;
        display: inline-block;
        position: relative;
        border-radius: 5% !important;
        text-align: center;
        align-items: center;
    }
    

  


    /* .card-one{
        height: 250px;
        width: 250px;
        display: inline-block;
        position: relative;
    } */

    .form-group{

      
        padding: 10px;
        margin-top: 10px;
        width: 1250px;
    }
   
    .form-control:focus{
        width: 1000px;

    }

    .map-section iframe{
        height: 300px;
        width: 1200px;
        background-color: #969090;
        margin-left:13px;
       
    }
    .contact-btn{
        width: 1230px;
        background-color: rgb(29, 29, 221);
        margin-left: 13px;
        
    }
    
     





















.footer{
    text-align: center;
    color: black;
    background-color: rgb(207, 202, 202);
    height: auto;
    width: 100%;
    margin-top: 40px;
  bottom: 0;
}